@font-face {
      font-family: helvetica_neu_bold;
      src: url(fonts/helvetica_neu_bold-webfont.ttf);
    }

    @font-face {
        font-family: helveticaneue_medium;
        src: url(fonts/helveticaneue_medium-webfont.ttf);
      }

     